<h2>Páises</h2>
<hr />

<!-- <ul class="list-group">
  <li routerLink=""
  routerLinkActive="active"
  [routerLinkActiveOptions]="{exact: true}"
  class="list-group-item">Home Page</li>
</ul>
<ul class="list-group">
  <li routerLink="about"
  routerLinkActive="active"
  class="list-group-item">About Page</li>
</ul>
<ul class="list-group">
  <li routerLink="contact"
  routerLinkActive="active"
  class="list-group-item">Contact Page</li>
</ul> -->
<ul class="list-group">
  <li routerLink="countries/by-capital"
  routerLinkActive="active"
  class="list-group-item">Por Capital</li>
</ul>
<ul class="list-group">
  <li routerLink="countries/by-country"
  routerLinkActive="active"
  class="list-group-item">Por País</li>
</ul>
<ul class="list-group">
  <li routerLink="countries/by-region"
  routerLinkActive="active"
  class="list-group-item">Por Región</li>
</ul>
